.recipe-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px;
}

.recipe-right-container{
	display: grid;
	align-items: center;
}

.recipe-img {
    border-radius: 25px;
}

.recipe-total-ingredients-number{
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    color: #ff8500;
}

.preparation-time{
    width: 40px;
    height: auto;
}

.ingredients-image{
    width: 40px;
    height: auto;
}

.nutrition-facts-image{
    width: 40px;
    height: auto;
}

.recipe-left-container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'subtitle share rating'
    'time ingredients blanc'
    'button button blanc';

}

.recipe-name{
    grid-area: header;
		text-align: left;
}

.recipe-source {
    grid-area: subtitle;
}

.recipe-rating{
    grid-area: rating;
}

.recipe-time-div{
    grid-area: time;  
    border-right: solid 2px grey;
    text-align: center;
}

.recipe-ingredients-div{
    grid-area: ingredients; 
    text-align: center;
}



.recipe-total-ingredients-number{
    margin: 0px;
    
}

.recipe-instructions{
    grid-area: button;
    margin: 20px 0px;
}

.recipe-left-container{
    text-align: center;
}